body {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
    letter-spacing: 2px;
}

button {
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
}
button:hover {
    background: seagreen;
    color: white;
    cursor: pointer;
}

img {
    border: 4px outset seagreen;
    padding: 15px;
}
input {
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
}
hr {
    width: 10%;
}
#error-message {
    color: red;
    font-family: monospace;
    font-size: .7em;
    font-weight: 900
}

#publish-date {
    font-style: italic;
    font-size: .7em;
}