body {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.2em;
}

button {
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px;
}
button:hover {
    background: seagreen;
    color: white;
    cursor: pointer;
}

img {
    border: 4px outset seagreen;
    padding: 15px;
}

#publish-date {
    font-style: italic;
    font-size: .8em;
}